body {
    font-family: 'trebuchet MS', 'lucida Sans unicode', 'lucida Grande', sans-serif; 
background-image: url("cardtable.jpg");  
background-size:cover;
background-position: center;
text-align: center;
font-size: 1.7em;
    color: white;
font-weight: bold;
}
h1 {
    color: goldenrod
}
#message-el {
    font-style: italic;
font-weight: bolder;
    font-size: 2em
}
#button-container {
    display: flex;
    gap: 2px;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    color: #016f32;
     width: 150px;
    height: 40px;
    background: goldenrod;
    font-size: .6em;
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: bold;
    border-radius: 10px;
}
